.cards__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
}
