.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  padding: 0;
  background-image: url(../images/Union.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
