.footer {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #fcf5e5;
  display: flex;
  justify-content: center;
}

.copyright {
  background-color: #fcf5e5;
  padding-top: 60px;
  padding-bottom: 60px;
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

@media screen and (max-width: 630px) {
  .footer {
    max-width: 288px;
  }
}
