.modal {
  font-family: Poppins, sans-serif;
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  background-image: url(../images/Close\ Icon.png);
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  border: none;
  background-color: white;
  padding: 0;
}

.modal__title {
  font-size: 32px;
  font-weight: 500;
  margin: 0 0 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  color: #212121b2;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border-radius: 8px;
  color: #212121;
  border-width: 1px;
  width: 100%;
  padding: 16px 0 16px 12px;
  font-size: 20px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  border: none;
}

@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin: 0 0 24px;
  }

  .modal__input {
    box-sizing: border-box;
    font-size: 16px;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
