.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  opacity: 0.7;
}

.profile__edit-btn {
  margin-top: auto;
  padding: 0;
  font-size: 16px;
  opacity: 0.7;
  border: none;
  background-color: #fcf5e5;
  color: #212121;
  display: flex;
  gap: 8px;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  align-self: flex-end;
  width: 157px;
  height: 52px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    padding-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
  }
}
